/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-g1l4fswxao] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-g1l4fswxao] {
  color: #0077cc;
}

.btn-primary[b-g1l4fswxao] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-g1l4fswxao], .nav-pills .show > .nav-link[b-g1l4fswxao] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-g1l4fswxao] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-g1l4fswxao] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-g1l4fswxao] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-g1l4fswxao] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-g1l4fswxao] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

@media print {
  body *[b-g1l4fswxao] {
    visibility: hidden;
  }
  .cv-container[b-g1l4fswxao], .cv-container *[b-g1l4fswxao] {
    visibility: visible;
  }
  .cv-container[b-g1l4fswxao] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
  }
  .btn[b-g1l4fswxao], .navbar[b-g1l4fswxao], footer[b-g1l4fswxao] {
    display: none !important;
  }
}

